ol {
    color: #ffffff;
    /*-webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    padding-left: 0px;*/
    background-color: #302f2f;
    padding: 20px 100px;
}

li {
    background-color: #302f2f;
    margin-bottom: 2px;
    padding: 1px;
}

*:link {
    text-decoration: none;
}

li > a {
    background-color: #141414;
    display: block;
    padding: 10px;
}

li > a > h2 {
    margin: 0px;
    color: #235b66;
}

@media only screen and (max-width: 400px) {
    ol {
        padding: 20px 4px;
        margin-left: 0;
        margin-right: 0;
    }
    section#main-content {
        padding-left: 0;
        padding-right: 0;
    }
    section#main-content>h1 {
        padding-left: 10px;
        padding-right: 10px;
    }
}